
      <div class="row" style="padding-top: 40px;"></div>
      <div class="row"> <div class="col">
         Service providers:
      </div></div>
 

      <div class="row" style="padding-top: 20px;"></div>
      
         <div class="btn-group-vertical"  role="group" aria-label="Button group" width=100%>
             <button type="button" onclick="location.href='/ertele'" class="btn btn-light btn-lg btn-block">ErTelecom</button>
             <button type="button" onclick="location.href='/strij'" class="btn btn-light btn-lg btn-block">Strij</button>
         </div>


